In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('/home/shumway743/cis5500_group/census/acs_2021.csv')
crime = pd.read_csv('/home/shumway743/cis5500_group/crime/combined_crime.csv')
cost = pd.read_csv('/home/shumway743/cis5500_group/cost_of_living/combined_col.csv')

/tmp/ipykernel_27449/1565444616.py:1: DtypeWarning: Columns (5,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  census = pd.read_csv('/home/shumway743/cis5500_group/census/acs_2021.csv')

In [6]:
census[census.SUMLEVEL == 50].count()
crime.groupby('GEO_ID').count()

                Unnamed: 0  crime_per_100k  crime_index
GEO_ID
0500000US01001           1               1            1
0500000US01003           1               1            1
0500000US01005           1               1            1
0500000US01007           1               1            1
0500000US01009           1               1            1
...                    ...             ...          ...
310M600US49420           1               1            1
310M600US49460           2               2            2
310M600US49700           1               1            1
310M600US49740           1               1            1
310M600US49780           3               3            3

[10816 rows x 3 columns]

In [3]:
combo = census.drop('Unnamed: 0',axis=1).merge(crime.drop('Unnamed: 0',axis=1), on='GEO_ID', how='left')
combo = combo.merge(cost.drop('Unnamed: 0', axis=1), on='GEO_ID', how='left')
combo['year'] = 2021
combo.head()

,GEO_ID,FILEID,STUSAB,SUMLEVEL,COMPONENT,US,REGION,DIVISION,STATE,COUNTY,...,bachelors,masters,doctorate,unemployment_rate,pct_minority,crime_per_100k,crime_index,annual_cost,cost_index,year
0,0400000US01,ACSSF,AL,40,00,NaN,NaN,NaN,1.0,NaN,...,0.266689,0.101587,0.012210,0.053776,0.331971,NaN,NaN,NaN,NaN,2021
1,0400000US02,ACSSF,AK,40,00,NaN,NaN,NaN,2.0,NaN,...,0.305938,0.114579,0.012445,0.065280,0.376969,NaN,NaN,NaN,NaN,2021
2,0400000US04,ACSSF,AZ,40,00,NaN,NaN,NaN,4.0,NaN,...,0.312065,0.119382,0.013861,0.055813,0.295722,NaN,NaN,NaN,NaN,2021
3,0400000US05,ACSSF,AR,40,00,NaN,NaN,NaN,5.0,NaN,...,0.243047,0.087935,0.009580,0.053031,0.259218,NaN,NaN,NaN,NaN,2021
4,0400000US06,ACSSF,CA,40,00,NaN,NaN,NaN,6.0,NaN,...,0.352704,0.134196,0.017473,0.064769,0.479064,NaN,NaN,NaN,NaN,2021

In [5]:
combo.to_csv('2021.csv',index=False)

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="database-1.ciepkqrnbwpe.us-east-1.rds.amazonaws.com"
dbname="maverick"
uname="admin"
pwd="maverick"



# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
combo.to_sql('places', engine, index=False)

:

:

In [10]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 43 kB 370 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2